.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 10vh 20vw;
  background: #855ef0;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paragraph {
  width: 80%;
  color: #000;
  font-size: 24px;
  text-align: center;
}

.heading {
  display: flex;
  color: #000;
  font-size: 46px;
  text-align: center;
  font-family: 'Roboto', serif;
  font-weight: 500;
  flex-direction: column;
}

.form {
  gap: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input,
.button {
  border: 3px solid #000;
  color: #282828;
  padding: 14px 18px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #fff;
}

.input::placeholder {
  color: #000;
  opacity: .4;
}

.input:active,
.input:focus {
  outline: none;

  border-color: rgba(0, 0, 0, 0.4)
}

.figure {
  color: #000;
  border: 3px solid #000;
  padding: 18px 20px;
  display: flex;
  background: #fff7ba;

  font-size: 22px;
  box-shadow: 10px 10px 0 2px rgba(0, 0, 0, 1);
  border-radius: 10px;
  flex-direction: column;

}

.quote {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.quote p {
  display: inline;
  margin: 0;
}

.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

.figcaption {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
}

.footer { 
  color: #000;
  opacity: 0.8;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.footer a {
  text-decoration: underline;
}
